// @import "../../globalstyles/global.scss";

.header {
  display: flex;
  background-color: #353535;
  color: #fff;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60px;
  align-items: center;
//   padding: 0 4rem;

  .side-bar {
    display: flex;
    & > * {
      margin-left: 2rem;
      &:hover,
      :active {
        transform: scale(1.1);
      }
    }
  }
}
